<div *ngIf="id" class="main-cnt">
  <div class="flex-between">
    <p>{{idToPollMap[id].headerTitle}}</p>
    <p>{{idToPollMap[id].bottomTitle}}</p>
  </div>


  <h1>{{idToPollMap[id].name}}</h1>


  <div class="answers">
    <input type="radio" name="answer" value="option1" [(ngModel)]="answer"> yes<br>
    <input type="radio" name="answer" value="option2" [(ngModel)]="answer"> no<br>
  </div>

  <div class="user-inputs">
    <input class="input" type="text" placeholder="id number" [(ngModel)]="idN" />
    <input class="input" type="text" placeholder="name" [(ngModel)]="name" />
    <input class="input" type="text" placeholder="surName" [(ngModel)]="surName" />
  </div>



  <button (click)="openDialog()">
    Submit your Answer
  </button>
</div>
