.main-cnt{
    padding: 20px;
    border: 1px solid black;
    margin-top: 40px;
}
p{
    font-size: 16px;
}
h1{
    font-size: 24px;
}
.user-inputs input{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: 20px;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.answers input{
    width: 40px;
}
.answers{
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

button{
    margin-top: 20px
}