<h1>Choose topic to vote</h1>

<div class="main-table">
  <div class="item" [routerLink]="'/submit-poll/1'">
    <p class="header-text">
      Goverment poll
    </p>
    <p class="middle-text">
        Should parliament be moved back to Tbilisi

    </p>
    <p class="bottom-text">
      Ends 25, october
    </p>
  </div>

  <!--<div class="item" [routerLink]="'/submit-poll/2'">-->
    <!--<p class="header-text">-->
      <!--Goverment poll-->
    <!--</p>-->
    <!--<p class="middle-text">-->
      <!--Should goverment stop financing Georgian Football clubs-->
    <!--</p>-->
    <!--<p class="bottom-text">-->
       <!--Ends 22, october-->
    <!--</p>-->
  <!--</div>-->

</div>
