h1{
    text-align: center;
    padding: 15px;
    font-size: 24px;
    position: relative;
    margin-top: 52px;
    color: blue;
}
.main-table{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
.item{
    width: 400px;
    height: 200px;
    border:1px solid black;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;

}
.item:hover{
    background-color:rgba(245,22,22,.4);
    opacity: .3;
}
.middle-text{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.header-text{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 14px;
}


.bottom-text{
    position: absolute;
    left : 15px;
    bottom: 10px;
    font-size: 14px;
}